/* Page Background */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;

  background-image: url("banner1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Banner */
.banner {
  height: 180px;
  width: 100%;
  /*
  background-image: url("banner.jpg");
  background-size: cover;
  background-position: center;
  */
  background-color: rgb(129, 204, 204);

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
}

/* Main Layout */
.main {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

/* Form Box */
.form-box {
  width: 600px;
  padding: 35px;

  background-color: rgba(0, 0, 0, 0.85);

  border-radius: 20px;
  box-shadow: 0px 8px 25px rgba(0,0,0,0.7);

  color: white;
}

/* Labels */
label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  text-align: left;
}

/* Inputs */
input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
}

textarea {
  resize: vertical;
}

/* Button */
button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;

  font-size: 1rem;
  cursor: pointer;

  background: white;
  color: black;
  font-weight: bold;
}

button:hover {
  opacity: 0.85;
}
